*{
    margin: 0;
    padding: 0;
    box-sizing: 
    border-box;
    }

    
    body{

        background-color: rgb(8, 41, 85);
        min-height: 100vh;
        flex-direction: column;}

        p{
            color: rgb(255, 255, 255);
            padding-left: 20rem;
            padding-right: 20rem;
            font-size: x-large;
            text-align: justify; hyphens: auto; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* text-shadow: 4px 4px 4px #030303; */ 
           
            
            }